<table class="table">
    <tr>
        <th>Sku</th>
        <td><%= @product.sku %></td>
    </tr>
    <tr>
        <th>Name</th>
        <td><%= @product.name %></td>
    </tr>
    <tr>
        <th>Description</th>
        <td><%= @product.description %></td>
    </tr>
    <tr>
        <th>Quantity</th>
        <td><%= @product.quantity %></td>
    </tr>
    <tr>
        <th>Price</th>
        <td><%= @product.price %></td>
    </tr>
</table>
<%= link_to "Edit product", edit_product_path(@product), class: "btn btn-primary btn-lg" %>
<%= link_to "Delete", product_path(@product), method: :delete, class: "btn btn-danger btn-lg" %>
